.items-cart__wrapper {
	background-color: var(--primary-white-color);
	margin-top: 5%;
}

.items-cart__top {
	display: flex;
	width: 100%;
	height: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.items-cart__amount {
	display: flex;
	justify-content: center;
	background-color: var(--primary-green-color);
	width: 15%;
}

.items-cart__amount-num {
	font-size: 1.25em;
	font-weight: bold;
}

.items-cart__tooltip {
	padding-right: 1%;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.items-cart__tooltip .items-cart__tooltip-text {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: var(--border-rad);
	position: absolute;
	z-index: 1;
}

.items-cart__tooltip:hover .items-cart__tooltip-text {
	visibility: visible;
}

.items-cart__bottom {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
}

.items-cart__total {
	font-weight: bold;
	margin: 2.5%;
	color: var(--secondary-green-color);
}

.items-cart__buttons {
	display: flex;
	gap: 5%;
	margin: 2.5%;
}

.items-cart__button {
	font-size: 1.25em;
	cursor: pointer;
	background-color: var(--secondary-blue-color);
	color: var(--primary-white-color);
	border: none;
}
