.bikes-page__wrapper {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.bike-page__navbar {
	width: 100vw;
	position: fixed;
}

.bike-page__content {
	margin-top: 7.5%;
}

.bike-page__shopping {
}
